* {
    margin: 0;
    padding: 0;
}
#cabecera {
    text-align: center;
    background-color:bisque;
    font-weight: bold;
    border: 2px solid black;
    padding: 20px;
}
.carnivoros {
    background-color: rgb(103, 0, 0);
    border: 2px solid black;
    padding: 30px;
    margin: 25px;
    letter-spacing: 2px;
}
.herbivoros {
    background-color: rgb(162, 232, 56);
    border: 2px solid black;
    padding: 30px;
    margin: 25px;
    letter-spacing: 2px;
}
h2 {
    text-align: center;
    letter-spacing: 5px;
    text-decoration: underline;
}
#T-rex {
    font-size: 24px;
    color: rgb(53, 0, 103);
}
#triceratop {
    font-weight: bold;
    text-decoration: underline;
}
.voladores {
    background-color: deepskyblue;
    text-shadow: rgb(105, 105, 105) 0 3px;
    border: 2px solid black;
    padding: 30px;
    margin: 25px;
    letter-spacing: 2px;
}
.acuaticos {
    background-color: rgb(163, 163, 231);
    color: darkblue;
    font-style:italic;
    border: 2px solid black;
    padding: 30px;
    margin: 25px;
    letter-spacing: 2px;
}
.dinosaur-section {
    text-align: center;
    color: brown;
}